/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
}

/*UTILS*/
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
	max-width: 100%;
}

h1 {
	font-size: 4rem;
	font-weight: 900;
	margin-bottom: 20px;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.5rem;
	margin-bottom: 15px;
}

h4 {
	margin-bottom: 10px;
}

.col-30 {
	width: 30%;
}

.col-70 {
	width: 70%;
}

button {
	border-style: none;
	font-size: 1rem;
}

img {
	width: 100%;
	display: block;
}

i {
	margin-top: 30px;
}

ul {
	list-style-type: none;
}

.btn {
	background-color: rgb(0, 97, 255);
	padding: 10px;
	color: white;
}

/*HEADER*/

.header-container {
	display: flex;
	justify-content: space-between;
}

.header-item {
	display: flex;
	align-items: center;
	padding: 20px;
}

.header-item > a {
	padding: 0 20px;
	text-decoration: none;
	color: rgb(53, 53, 53);
}

/*MAIN*/

/* SECTION HERO */

.hero-section {
	background-color: rgb(180, 208, 231);
}

.hero-section .container {
	position: relative;
	top: 50px;
	width: 1100px;
}

.hero-content {
	display: flex;
	padding-top: 30px;
}

.col-30 div {
	margin: 0 15px 30px 0;
	font-size: 0.9rem;
}

.col-30 button {
	margin-bottom: 30px;
}

.col-30 i {
	padding-top: 50px;
	font-size: xxx-large;
}

/* SECTION BUSINESS-PLAN */

#business-plan {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-top: 100px;
}

#business-plan span {
	padding-right: 20px;
}

#business-plan .fa-circle-dot {
	color: #0061ff;
}

#business-plan .fa-circle {
	color: #ccccd0;
}

/*CARD*/

.cards {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 2.5rem;
	margin-top: 20px;
}

.card-item {
	border: 1px solid gray;
	flex: 1 0 30%;
	margin-top: 30px;
}

.card-item .card-header {
	padding: 10px;
	border-bottom: 1px solid gray;
	text-align: center;
}

.card-header i {
	margin: auto;
}

.card-body {
	padding: 25px;
}

.caratteristiche {
	margin-top: 20px;
}

.card-body button {
	display: block;
	margin: 20px 0;
}

.lista-caratteristiche i {
	color: blue;
}

.card-footer {
	margin: 40px 0;
	border-top: 1px solid black;
	padding-top: 50px;
}

.team {
	border: 1px solid gray;
	margin: 40px 0;
}

.team-header {
	padding: 10px;
	border-bottom: 1px solid gray;
	text-align: center;
}

.team-header i {
	margin: auto;
}

.team-body {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.team-body .col-30 {
	text-align: end;
}

.team-body .col-30 button {
	padding: 10px 30px;
}

.team-footer {
	font-size: 0.9rem;
	padding: 20px 20px 40px 20px;
	width: 70%;
}

/* SECTION PARTNER*/

#partner {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 100px 0;
}

#partner .container {
	display: flex;
	justify-content: center;
}

.testo-foto {
	padding: 50px;
}

.testo-foto button {
	background-color: white;
	color: gray;
	margin-top: 30px;
	border: 1px solid gray;
}

/*SECTION OPERATIONS*/

#operations > .container > h2 {
	margin-bottom: 40px;
}

.operation-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 2rem;
	margin-bottom: 80px;
}
.operation-item {
	flex: 1 0 30%;
}

.operation-item p {
	margin-top: 20px;
}

/*BRANDS*/

#brands {
	margin-top: 100px;
}

#brands .container {
	width: 50%;
	margin-left: 250px;
}

#brands > .container > h2 {
	margin-bottom: 40px;
}

.brand-row {
	margin-top: 100px;
	display: flex;
}

.brand-col {
	width: calc(100vw / 3);
	display: flex;
	flex-wrap: wrap;
}
.brand-square {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(162, 211, 155);
}

#brands svg {
	fill: white;
}

/* PROVA GRATUITA SECTION*/

#prova-gratuita {
	background-color: lightblue;
	display: flex;
	justify-content: center;
}

#prova-gratuita .container {
	display: flex;
	justify-content: center;
	margin: 100px 0;
}

#prova-gratuita .col-40 {
	text-align: end;
}

#prova-gratuita button {
	padding: 15px 45px;
	background-color: white;
	color: black;
}

/*FAQ*/

#faq {
	display: flex;
	justify-content: center;
}

#faq .container {
	margin: 100px;
}

.domanda {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	line-height: 80px;
	font-weight: bold;
}

#faq h2 {
	padding-bottom: 70px;
	border-bottom: 1px solid black;
}

/*FOOTER*/

.footer {
	background-color: black;
	display: flex;
	justify-content: center;
	padding: 50px;
}

.footer .container {
	color: white;
	display: flex;
	justify-content: space-between;
}

.footer .container li {
	line-height: 40px;
}

.footer .container h3 {
	line-height: 60px;
}

.footer-language {
	border-top: 1px solid white;
	margin-top: 50px;
	padding-top: 10px;
	line-height: 30px;
	color: darkgray;
}
