/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*UTILS*/
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
	max-width: 100%;
}

h1 {
	font-size: 4rem;
}

a {
	text-decoration: none;
	color: rgb(59, 59, 59);
}

.logo {
	padding-right: 20px;
}

button {
	border-style: none;
}

/*HEADER*/
.header-container {
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-item {
	display: flex;
	align-items: center;
	padding: 20px;
}

.header-item > a {
	padding-right: 20px;
}

.header-item button {
	background-color: blue;
	padding: 5px;
	color: white;
}

/*MAIN*/
.top-section {
	background-color: rgb(180, 208, 231);
	height: 300px;
	display: flex;
	align-content: center;
	justify-content: center;
}
