/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*UTILS*/
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
	max-width: 100%;
}

h1 {
	font-size: 4rem;
	font-weight: bolder;
}

h2 {
	font-size: 2.5rem;
}
a {
	text-decoration: none;
	color: rgb(59, 59, 59);
}

.logo {
	padding-right: 20px;
}

button {
	border-style: none;
}

img {
	width: 100%;
}

i {
	margin-top: 30px;
}

li {
	list-style-type: none;
}

/*HEADER*/
.header-container {
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-item {
	display: flex;
	align-items: center;
	padding: 20px;
}

.header-item > a {
	padding-right: 20px;
}

.btn {
	background-color: blue;
	padding: 5px;
	color: white;
}

/*MAIN*/
.top-section {
	background-color: rgb(180, 208, 231);
	height: 500px;
	display: flex;
	align-content: center;
	justify-content: center;
	padding-top: 50px;
}

.proposta-cliente {
	display: flex;
	padding-top: 30px;
	justify-content: space-between;
}

.prova-gratuita {
	line-height: 20px;
}

.prova-gratuita div {
	margin: 20px 0;
}

.piano-section {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-top: 80px;
}

.fa-solid {
	color: blue;
}

/*CARD*/
.cards {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 2rem;
}
.card-singolo {
	border: 1px solid gray;
	flex: 1 0 30%;
	margin-top: 30px;
}

.card-singolo .card-header {
	border-bottom: 1px solid gray;
	text-align: center;
}

.team {
	border: 1px solid gray;
	margin-top: 40px;
}
.team-header {
	border-bottom: 1px solid gray;
}

.partner {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 80px 0;
}
.testo-foto {
	width: 50%;
	padding: 40px;
}

.business-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 2rem;
	margin-bottom: 80px;
}
.stumento {
	border: 1px solid gray;
	flex: 1 0 30%;
	margin-top: 30px;
}

.partner-section {
	background-color: rgb(204, 201, 201);
	display: flex;
	min-height: 300px;
}

.partner-item {
	width: calc(100% / 3);
	min-height: 300px;
}

.logo-designit {
	background-size: contain;
	background-image: url(../img/designit.svg);
	background-repeat: no-repeat;
	min-height: 80px;
}
.col-sx,
.col-dx {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 300px;
}
.col-sx div,
.col-dx div {
	width: 50%;
	height: 50%;
	padding: 20px 10px;
}
